<div id="settings_container" class="round">

	<div id="settings_header">
	    <span id="settings_title_photo">	
		<% if current_user.photo.file? %>
			<%= image_tag current_user.photo(:thumb) %>
		<% else %>
			<%= show_default_thumb_for_user(current_user)%>
		<% end %>
		<br />
		</span>
	
		<span id="settings_title">
		<%= "#{current_user.first_name} #{current_user.last_name}'s settings" %>
		</span>
		<br />		<br />		<br />
			<%= render "users/settings_filter" %>
	</div>
	


	<div id="settings_pool">	
			<%= form_for(resource, :html => { :multipart => true }, 
				:as => resource_name, :url => 	registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div id="upload_photo" class="field">
			<% if current_user.photo.file? %>
				<%= image_tag current_user.photo(:small) %>
			<% else %>
				<%= show_default_small_for_user(current_user)%>
			<% end %><br />

			<%= f.label :photo, "Upload Photo" %><br/>
			<%= f.file_field :photo %>
			<p>
			</div>

			<div id="create_my_account">
			  <br />
			  <p><%= f.submit "Upload" %></p>
			</div>
			<% end %>
	
	<br />
	
</div>	<!-- end Settings Pool -->	
		</div><!-- END settings_container -->