<div id="settings_container" class="round">

	<div id="settings_pool">	
			<%= form_for(current_user, :html => { :multipart => true }, 
				:as => current_user, :url => 	registration_path(current_user)) do |f| %>


			<div id="upload_photo" class="field">
			<% if current_user.photo.file? %>
				<%= image_tag current_user.photo(:small) %>
			<% else %>
				<%= show_default_small_for_user(current_user)%>
			<% end %><br />

			<%= f.label :photo, "Upload Photo" %><br/>
			<%= f.file_field :photo %>
			<p>
			</div>

			<div id="create_my_account">
			  <br />
			  <p><%= f.submit "Upload" %></p>
			</div>
			<% end %>
	
	<br />
	
</div>	<!-- end Settings Pool -->	
		</div><!-- END settings_container -->