<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

<br />
<br />

<div id="edit_title_essentials">Essentials</div>
  <br />
  <div id="edit_email">
  <span class="label_margin_right"><%= f.label :email %></span>
  <%= f.text_field :email, :class => "round tb" %>
  </div>


<div id="edit_title_optional">Optional</div>
  <div id="edit_about">
  <span id="aboutfix" class="label_margin_right"><%= f.label :about %></span>
  <%= f.text_area :about, :class => "round tb", :id => "edit_about_text_area" %>
  </div>

  <div id="edit_website">
  <span class="label_margin_right"><%= f.label :website %></span>
  <%= f.text_field :website, :class => "round tb" %>
  </div>

<br />
<div id="edit_update">
  <p><%= f.submit "Update" %></p>
</div>
<% end %>
