<div id="about_container" class="round">

<br />
	<div id="hello">Hello!</div><br />
	
	Welcome to TwitterEnvy. I created this site as a project to learn Ruby on Rails, jQuery, and other web programming technologies. I hope the lessons I have learned can help you with your journey, and that is why I have made the <%= link_to "source code available at GitHub for free", "https://github.com/apsharkey/TwitterEnvy"  %> under the <%= link_to "MIT License.", "http://www.opensource.org/licenses/mit-license.php" %>
	<br />	<br />
	As of June 2011, the project is in active development, and will continue to be updated and maintained.
			<div id="aboutme_photo"><%= image_tag "../images/meandskip.jpeg" %></div>
		<br />	<br />
	I welcome feedback via my Twitter account, <%= link_to "@AndySharkey", "http://twitter.com/#!/AndySharkey" %>, <%= link_to "Facebook", "http://www.facebook.com/andysharkey" %>, or <%= link_to "Linked In", "http://www.linkedin.com/pub/andy-sharkey/27/8a/504" %>. Of course, there's always e-mail: apsharkey@gmail.com<br /><br />
	
	My hope is that you will enjoy using and adding to this site as much as I enjoyed creating it. Get coding!
			<br />	<br />
	Cheers!
<br />	<br />
	<%= image_tag "../images/signature.jpg" %><br />
	Andy Sharkey<br />
	<%= link_to "Visit My Personal Web Site", "http://www.andysharkey.com" %>
	
		</div>
		

</div>